<div class="container-fluid">
  <div class="row">
    <div class="col"><hr></div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h2>params</h2>
          </div>
          <div class="col">
            <nav>
              <ul>
                <li><a>{{generator_type}}</a>
                  <!-- First Tier Drop Down -->
                  <ul>
                    <li><a (click)="changeGeneratorType('dockerfile')">dockerfile</a></li>
                    <li><a (click)="changeGeneratorType('docker-compose')">docker-compose</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row" *ngIf="this.generator_type">
          <div class="col" *ngIf="this.generator_type == 'dockerfile'">
            <app-dockerfile-generator (dockerFileContent)="addDockerFileContent($event)" (dockerBuildCommand)="addDockerBuildCommand($event)" (dockerRunCommand)="addDockerRunCommand($event)"></app-dockerfile-generator>
          </div>
          <div class="col" *ngIf="this.generator_type == 'docker-compose'">
            <app-docker-compose-generator></app-docker-compose-generator>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <div class="row" *ngIf="this.mainCodeBlock">
          <div class="col">
            <h2>main</h2>
          </div>
        </div>
        <div class="row" *ngIf="this.mainCodeBlock">
          <div class="col">
            <app-copied-board [text]='mainCodeBlock' [type]="this.generator_type == 'dockerfile'? 'dockerfile':'docker-compose.yaml'"></app-copied-board>
          </div>
        </div>
        <div class="row" *ngIf="this.buildCommand">
          <div class="col"><hr></div>
        </div>
        <div class="row" *ngIf="this.buildCommand">
          <div class="col">
            <h2>build with</h2>
          </div>
        </div>
        <div class="row" *ngIf="this.buildCommand">
          <div class="col">
            <app-copied-board [text]="buildCommand" [type]="'shell'"></app-copied-board>
          </div>
        </div>
        <div class="row" *ngIf="this.runCommand">
          <div class="col">
            <hr>
          </div>
        </div>
        <div class="row" *ngIf="this.runCommand">
          <div class="col">
            <h2>run with</h2>
          </div>
        </div>
        <div class="row" *ngIf="this.runCommand">
          <div class="col">
            <app-copied-board [text]="runCommand" [type]="'shell'"></app-copied-board>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>